.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
.*.swp
public/assets
config/initializers/active_shipping.rb
config/initializers/hoptoad.rb
public/sitemap.xml
public/ror.xml
config/newrelic.yml
