.bundle
db/*.sqlite3
log/*
tmp/**/*
config/database.yml
.*.swp
public/assets
config/initializers/active_shipping.rb
config/initializers/hoptoad.rb
public/sitemap.xml
public/ror.xml
config/newrelic.yml
public/BingSiteAuth.xml
public/googleaf3e1a137a637ca8.html
public/maintenance.html.off
public/y_key_fbd47cd6bc97c520.html
public/google_base.xml
