<style type="text/css">
#order_details { color:#ddd; }
</style>

<div class="rounded-box" style="width:650px;">
	<fieldset id="order_details">
		<div class="clear"></div>
		<legend><%= t("confirm") %></legend>
		<%= render :partial => 'shared/order_details', :locals => {:order => @order} %>
	</fieldset>
</div>
<br />
<hr />

<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%=t("place_order") %>"/>
  <div id="loading" style="display:none;"><%= image_tag "/images/ajax-loader.gif", :style => "display:inline;" %> Processing</div>
</div>
