html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
*:focus { outline: 0; }
body {
  line-height: 1em;
  color: black;
  background: #000;
}
ol, ul { list-style: none; }
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote { quotes: "" ""; }
q:before { content: ""; }
q:after { content: ""; }
blockquote:before { content: ""; }
blockquote:after { content: ""; }
img a { border: none; }
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 .5em;
  border: none;
  background: #ffffff;
  color: #ffffff;
  visibility:hidden;
}
body {
  line-height: 1.5;
  font-family: Arial, helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
h1 {
  font-family: arial narrow, arial;
  text-transform: uppercase;
  font-weight: bold;
  color: #222222;
  font-size: 2.7em;
  line-height: 1;
  letter-spacing:1px;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left:0.2em;
}
h1 img { margin: 0; }
h2 {
	font-family: arial narrow, arial;
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
	font-family: arial narrow, arial;
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
	font-family: arial narrow, arial;
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
	font-family: arial narrow, arial;
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
}
h2 img { margin: 0; }
h3 img { margin: 0; }
h4 img { margin: 0; }
h5 img { margin: 0; }
h6 img { margin: 0; }
p { margin: 0 0 1.5em; font-size:13px; }
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
a {
  text-decoration: underline;
  color: #00ff00;
}
span.note { font-size:11px; }
/* ROUNDED BOXES */
div.rounded-box,
li.rounded-box{
  background-color:#222;
  background-color:rgba(0,0,0,0.7);
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  -moz-box-shadow: inset 5px 5px 12px 5px #161616;
  -webkit-box-shadow: inset 5px 5px 12px 5px #161616;
  box-shadow: inset 5px 5px 12px 5px #161616;
}

/* TAXON PAGES */
div.taxon-description {
	width:657px;
	margin:0 0 7px 6px;
	color:#ddd;
}

div.taxon h2 a {
	color:#ccc;
	text-decoration:none;
}	

div.taxon h3 a {
	font-size:16px;
}	

img.taxon-description-image {
	height:75px;
	padding-right:8px;
}

/* CONTENT PAGES */
div#content { padding-top:15px; }
div#content div.three-col .col {
  float: left;
  margin-right:15px;
  margin-bottom:15px;
  width:270px;
  color:#ddd;
  background-color:#222;
  background-color:rgba(0,0,0,0.7);
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  -moz-box-shadow: inset 5px 5px 12px 5px #161616;
  -webkit-box-shadow: inset 5px 5px 12px 5px #161616;
  box-shadow: inset 5px 5px 12px 5px #161616;
}
div#content div.three-col .double {
  float: left;
  margin-right:15px;
  width: 585px;
  color: #ddd;
  background-color:#222;
  background-color:rgba(0,0,0,0.7);
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  -moz-box-shadow: inset 5px 5px 12px 5px #161616;
  -webkit-box-shadow: inset 5px 5px 12px 5px #161616;
  box-shadow: inset 5px 5px 12px 5px #161616;
}
div#content div.three-col .triple {
  float: left;
  width: 905px;
  color: #ddd;
  background-color:#222;
  background-color:rgba(0,0,0,0.7);
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  -moz-box-shadow: inset 5px 5px 12px 5px #161616;
  -webkit-box-shadow: inset 5px 5px 12px 5px #161616;
  box-shadow: inset 5px 5px 12px 5px #161616;
}
div#content div.three-col .last {
	margin:0;
}
div#content h2,
div#content h3{ color:#aaa; color:#00ff00; margin-bottom:5px;}
div#content h4{ color:#aaa; margin-bottom:5px;}
div#content h5{ color:#00ff00; margin:0 0 2px 0; font-size:11px; }
table.top-crossfit-products td { padding:4px; }
div.top-product-category {
	text-align:center;
	background-color:#444;
	background-color:rgba(255,255,255,0.2);
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:4px;
}
div.top-product-category:hover {
	text-align:center;
	
	background-color:rgba(255,255,255,0.2);
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:3px;
  border:1px solid #ddd;
}
div.top-product-category a { text-decoration:none; }
div.top-product-category-image {
	display:table-cell;
	vertical-align:middle;
	height:100px;
	width:100px;
	margin:0 auto;
}

table#cart-detail { font-size:14px; margin-bottom:10px; }
table#cart-detail th { font-size:16px; }
table#cart-detail h4 { font-size:24px; }
table#cart-detail a { display:block; padding:3px; text-decoration:none;}
table#cart-detail a:hover { display:block; padding:3px; text-decoration:underline;}
table#cart-detail tr.line-item td div.line-item-image img { width:90px; }
table#cart-detail tr.line-item td {
	background:#333;
	background-color:rgba(0,0,0,0.7);
	padding:8px;
	color:#ddd;
}
table#cart-detail tr.line-item td.first {
	border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
}
table#cart-detail tr.line-item td.last {
	border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
}
#cart-widget {
	width:156px;
	padding:7px 3px 7px 7px;
	z-index:9999;
	position:fixed;
	bottom:20px;
	right:0;
	background:#222;
	border:2px solid #444;
	border-right:none;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
#cart-widget-minimized {
	cursor:pointer;
	text-align:center;
	width:30px;
	padding:7px 3px 2px 7px;
	z-index:9999;
	position:fixed;
	bottom:20px;
	right:0;
	background:#222;
	border:2px solid #444;
	border-right:none;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
#cart-widget h4,
#cart-widget-minimized h4 { color:#00ff00; margin-bottom:5px; }
#cart-widget h4 a,
#cart-widget-minimized h4 a { text-decoration:none; }
#cart-widget a.button.small.checkout { margin:4px 2px 0 0; padding:0 7px 0 0px; font-weight:bold; font-size:11px !important; height:20px; }
subtotal
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
strong { font-weight: bold; }
em { font-style: italic; }
dfn {
  font-style: italic;
  font-weight: bold;
}
sup, sub { line-height: 0; }
abbr, acronym { border-bottom: 1px dotted #666666; }
address {
  margin: 0 0 1.5em;
  font-style: italic;
}
del { color: #666666; }
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
li ul { margin: 0 1.5em; }
li ol { margin: 0 1.5em; }
ul {
	color:#ddd;
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc;
}
ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal;
}
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
table {
  margin-bottom: 1.4em;
  width: 100%;
}
th { font-weight: bold; }
thead th { background: #c3d9ff; }
th, td, caption { padding: 4px 10px 4px 5px; }
tr.even td { background: #444; }
tfoot { font-style: italic; }
caption { background: #eeeeee; }
.quiet { color: #666666; }
.loud { color: #111111; }
form p.field {
  margin-bottom: 0.5em;
  clear: both;
}
form p.field span.req {
  color: red;
  float: left;
  margin-left: 2px;
  position: relative;
  top: -3px;
}
form p.field input[type=text] {
  float: left;
  margin: 0 5px 7px 0;
}
form p.field select {
  float: left;
  margin: 0 5px 7px 0;
}
form p.field.radios { line-height: 150%; }
label { font-weight: bold; }
div#checkout #checkout_form_address #billing label.error {
  color: red;
  float: left;
  text-align: left;
  display: inline-block;
  top: 0px;
  font-size: 11px;
  border: none;
  padding: 0px;
  width: auto;
}
div#checkout #checkout_form_address #shipping label.error {
  color: red;
  float: left;
  text-align: left;
  display: inline-block;
  top: 0px;
  font-size: 11px;
  border: none;
  padding: 0px;
  width: auto;
}
fieldset { margin-bottom: 1em; }
legend {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 0em;
  color:#00ff00;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
body {
  background: #000000 url(http://assets-0.nuerafitness.com/images/body-bg-repeat.jpg) top center repeat-y;
}
div.left {
  float: left;
  width: 49%;
}
div.right {
  float: right;
  width: 49%;
}
a { outline: none; }
#wrapper {
  padding: 10px 20px 20px;
  position: relative;
}
body.two-col #wrapper { }
#bottom-shadow {
  width: 100%;
  /*background: url(http://assets-0.nuerafitness.com/images/bottom-shadow.png) center bottom no-repeat; */
  padding-bottom: 30px;
}
#main-wrapper { 
  width: 1028px;
  margin: 0 auto;
  background: url(http://assets-0.nuerafitness.com/images/shadows-repeat.png) repeat-y; 
}
#steel-main {
  width: 974px;
  margin-left: 27px;
  background: url(http://assets-0.nuerafitness.com/images/steel-main.jpg) 0px 60px repeat-y; 
}
#steel-top {
  width: 974px;
  background: url(http://assets-0.nuerafitness.com/images/steel-top.jpg) top left no-repeat; 
}
#main-wrapper-bottom { 
  width: 1000px;
  margin: 0 auto;
  background: url(http://assets-0.nuerafitness.com/images/wrapper-bg-nuera-bottom.png) 13px 100% no-repeat; 
}
.container {
  width: 974px;
  margin: 0 auto;
  overflow: hidden;
  display: block;
}
#sidebar {
  display: inline;
  float: left;
  width: 150px;
  margin-left: 0px;
  margin-top:20px;
  padding-right: 19px;
  margin-right: 25px;
}
#sidebar h3 { margin-bottom: 0.5em; }
body.one-col #content {
  display: inline;
  float: left;
  width: 934px;
}
body.two-col #content {
  display: inline;
  float: left;
  width: 728px;
}
#header {
  position: relative;
  color: #2e6ab1;
  clear: both;
  height:158px;
}
#header a {
  color: #151515;
  text-decoration: none;
}
#header a:hover { color: #eeeeee; }
#header #logo { display:block; position:absolute;z-index:9999;top:35px;left:20px; width:170px;height:144px; background: url(http://assets-0.nuerafitness.com/images/sprite.png) top left;}
#header input.search-submit,
#footer input.search-submit {
  display: block;
  width: 28px;
  height:28px;
  float:right;
  background: url(http://assets-0.nuerafitness.com/images/sprite.png) -178px -30px;
  margin-left: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
#footer input.search-submit {float:left;}
#header input#keywords,
#footer input#email,
#footer input#name {
  float: right;
  width: 204px;
  padding: 0 8px;
  margin-right: 2px;
  height: 23px;
  line-height: 30px;
  /*background: url(http://assets-0.nuerafitness.com/images/search-box-bg.png) top left no-repeat;*/
  background:#444;
  border: 2px solid #222;
  font-size: 1.2em;
  color: #ffffff;
}

#footer input#email,
#footer input#name { float:left; }
#footer input#email{float:left;}
#header #logo a img { position:absolute; padding:6px 0 0 15px; }
#footer {
  position: relative;
  margin-left: 27px;
  width: 974px;
  height: 189px;
  background: transparent url(http://assets-0.nuerafitness.com/images/footer.jpg) top left no-repeat;
  clear: both;
}
#footer p {color:#959595;}
#footer .col1,
#footer .col2,
#footer .col3,
#footer .col4 {
	float:left;
	height:160px;
	margin:15px 15px;
}
#footer .col1 {
  margin-left:25px;
	width:190px;
}
#footer .col2 {
	width:168px;
}
#footer .col3 {
	width:170px;
}
#footer .col4 {
	margin-left:30px;
	width:290px;
}
#footer ul {
	list-style:none;
  margin-left:5px;
}
#footer li a {
	color:#959595;
	text-decoration:none;
}
#footer li a:hover {
	color:#fff;
	font-weight:bold;
	text-decoration:underline;
}

#footer div.left { width: 37%; }
#footer div.right {
  width: 63%;
  text-align: right;
}
#footer #logo { display:block; width:170px;height:144px; background: url(http://assets-0.nuerafitness.com/images/sprite.png) top left;}

#subfooter {
  width:100%;
  text-align:center;
  text-transform:uppercase;
  color:#fff;
}

/* Home Page */
div.store-menu {
	width:974px;
	height:73px;
	margin-left:-20px;
	background:url(http://assets-0.nuerafitness.com/images/store-menu-bg.jpg) top left no-repeat;
}
div#store-menu-items
{
	padding:7px 0px 10px 27px;
}
a.store-menu-item {
	display:block;
	width:172px;
	height:52px;
	float:left;
	margin:0 6px;
	background:url(http://assets-0.nuerafitness.com/images/store-menu-sprite.jpg);
}
a#store-menu-category { background-position: 0px 0px; }
a#store-menu-category:hover { background-position: -172px 0px; }
a#store-menu-brands { background-position: 0px -52px; }
a#store-menu-brands:hover { background-position: -172px -52px; }
a#store-menu-packages { background-position: 0px -104px; }
a#store-menu-packages:hover { background-position: -172px -104px; }
a#store-menu-apparel { background-position: 0px -156px; }
a#store-menu-apparel:hover { background-position: -172px -156px; }
a#store-menu-clearance { background-position: 0px -208px; }
a#store-menu-clearance:hover { background-position: -172px -208px; }

h { font-size: 2.5em; }
.form-buttons, .clear { clear: both; }
input.title { width: auto; }
p.follow-all {
  font-size: 1.3em;
  text-align: center;
  display: block;
}
p img {
  float: left;
  margin-right: 5px;
  vertical-align: middle;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clear {clear:both;}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
.navigation-list {
  list-style: none;
  margin: 0 0 1.5em 0;
}
.navigation-list li { margin: 0; }
.navigation-list li a {
  cursor: pointer !important;
  text-decoration: none;
  color: #333333;
  display: block;
  line-height: 1.6em;
  font-size: 1.2em;
  padding-left: 10px;
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
}
.navigation-list li a:hover {
  color: #00ff00;
  text-decoration: underline;
}
.navigation-list li.current { width: 200px; }
.navigation-list li.current a {
  width: 180px;
  background: url(http://assets-0.nuerafitness.com/images/menu-current.png) right center no-repeat;
  white-space: nowrap;
  overflow: hidden;
}
.navigation-list li.current a.root { width: 183px; }
.navigation-list a.root {
	font-family: arial narrow, arial;
  padding-left: 10px;
  font-weight: normal;
  color: #222222;
  font-size: 1.7em;
  text-indent: -5px;
  line-height: 1.2em;
  margin-bottom:5px;
}
.navigation-list a.root:hover {
  color: #333333;
  text-decoration: none;
}
.breadcrumbs { margin-top:-1em; margin-bottom: 0.5em; }
.breadcrumbs ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.breadcrumbs ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.breadcrumbs ul li {
  line-height: 20px;
  color: #666666;
}
.breadcrumbs ul li a {
  text-decoration: none;
  padding: 5px 7px;
  color: #666666;
}
.breadcrumbs ul li span {
  text-decoration: none;
  padding: 5px 7px;
  color: #666666;
}
.breadcrumbs ul li span { color: #333333; }
div#login-bar { float:right; margin-top: 50px; }
ul#language-bar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
ul#language-bar li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
ul#language-bar strong { font-weight: normal; }
ul#social-and-search {
  line-height: 30px;
  float: right;
  font-weight:bold;
  clear: both;
  font-size: 0.9em;
  list-style: none;
  margin: 0 35px 0 0;
  padding: 0;
}
ul#social-and-search li {
	display:inline;
	float:left;
	margin-left:7px;
}
a#facebook {
	display:block;
	width:28px;
	height:30px;
	background:url(http://assets-0.nuerafitness.com/images/sprite.png) -234px -29px;
}
a#twitter {
	display:block;
	width:28px;
	height:30px;
	background:url(http://assets-0.nuerafitness.com/images/sprite.png) -206px -30px;
}
ul.nav-bar {
  line-height: 30px;
  float: right;
  font-weight:bold;
  clear: both;
  font-size: 0.9em;
  list-style: none;
  margin: 0 35px 0 0;
  padding: 0;
}
ul.nav-bar li {
  float: left;
  margin-left: 0.7em;
  color: #353535;
}
ul.nav-bar li.cart-indicator a {
  padding-right: 40px;
  background: transparent url(http://assets-0.nuerafitness.com/images/cart-empty_x32.png) center right no-repeat;
  display: block;
}
ul.nav-bar li.cart-indicator a.full { background-image: url(http://assets-0.nuerafitness.com/images/cart-full_x32.png); }
.pagination {
  padding-top: 10px;
  text-align: right;
}
ul.nav-bar-2 {
  line-height: 28px;
  float: right;
  clear: both;
  font-size: 1.1em;
  list-style: none;
  margin: 0 82px 0 0;
  padding: 0;
}
ul.nav-bar-2 li {
  float: left;
  margin-left: 0.7em;
  color: #acacac;
}
#header ul.nav-bar-2 li a { color: #00ff00; }
ul.nav-bar-3 {
  width:744px;
  height:28px;
  line-height:28px;
  float: right;
  clear: both;
  font-size: 1.3em;
  font-weight:bold;
  letter-spacing:1px;
  list-style: none;
  margin:10px 0 0 0;
  background:url(http://assets-0.nuerafitness.com/images/menu-bg.png) top left no-repeat;
}
ul.nav-bar-3 li {
  float: left;
  margin-left: 1.2em;
  color: #00ff00;
  text-transform: uppercase;
}
#header ul.nav-bar-3 li a { color: #e1e1e1; }
#header ul.nav-bar-3 li a:hover { color: #00ff00; }
#header .nuera-phone {
	position:absolute;
	top:57px;
	right:435px;
	width:227px;
	height:17px;
	font-size:35px;
	color:#bbb;
	background:url(http://assets-0.nuerafitness.com/images/sprite.png) -177px -6px;
}
div.main-menu {
	padding-left:4px;
	float:left;width:100px;height:40px;border-left:1px solid #777;text-align:center;color:#ccc;
}
#header div.main-menu a {
	font-family:courier; 
	font-size:14px;
	display:block;
	margin-top:10px;
	text-decoration:none;
	color:#fff;
	letter-spacing:1px;
}

#header div.main-menu.cart a {
	font-weight:bold;
	color:#ffff00;
}

/* Taxonomies */
div#taxonomies { width:; }
div#taxonomies a.root { color:#00ff00; }
div#taxonomies ul { margin:-; padding:0; }
div#taxonomies li a { display:block; width:100%; color:#ccc; }
div#taxonomies li a:hover { color:#00ff00; }

.pagination a.page {
  padding: 0px 5px;
  margin: 0px 3px;
}
.pagination span.page {
  padding: 0px 5px;
  margin: 0px 3px;
}
.pagination a.page {
  text-decoration: none;
  border: 1px solid #9aafe5;
  color: #2e6ab1;
}
.pagination a.page:hover {
  border: 1px solid #2b66a5;
  color: #000000;
}
.pagination a.page:active {
  border: 1px solid #2b66a5;
  color: #000000;
}
.pagination a.next_page { font-weight: bold; }
.pagination span.disabled_page {
  border: 1px solid #929292;
  color: #929292;
}
.pagination span.current_page {
  font-weight: bold;
  border: 1px solid;
  border-color: #162f54;
  background-color: #2e6ab1;
  color: #ffffff;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
.flash {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
}
.flash.notice {
  background: #ccddff url(http://assets-0.nuerafitness.com/images/shadow_top.png) 0px -50px repeat-x;
  color: #556699;
  border: 1px solid #99aacc;
}
.flash.errors {
  background: #f4b4b4 url(http://assets-0.nuerafitness.com/images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(http://assets-0.nuerafitness.com/images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError p { margin: 0px; }
.formError ul { margin-bottom: 0px; }
.formError h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.errorExplanation {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(http://assets-0.nuerafitness.com/images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.errorExplanation p { margin: 0px; }
.errorExplanation ul { margin-bottom: 0px; }
.errorExplanation h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
div#content #errorExplanation h2 {
	color:#ff2222;
}
.fieldWithErrors { clear: none; }
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
button, a.button, input.button {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  background: #efefef url(http://assets-0.nuerafitness.com/images/buttons/bg-button.png) center left repeat-x !important;
  border-style: solid;
  border-width: 1px !important;
  border-color: #dddddd #999999 #999999 #dddddd !important;
  -moz-outline-radius: 0.3em;
  color: #111111;
  display: inline-block;
  font-family: Arial, helvetica, sans-serif;
  font-size: 1.1em !important;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.3em;
  margin: 0px;
  overflow: visible;
  padding: 4px 12px;
  text-decoration: none;
  width: auto;
  height: auto;
  cursor: pointer;
}
button.primary, a.button.primary, input.button.primary {
  font-weight: bold;
  color: #000000;
}
button:hover { background-image: url(http://assets-0.nuerafitness.com/images/buttons/bg-button-hover.png) !important; }
a.button:hover { background-image: url(http://assets-0.nuerafitness.com/images/buttons/bg-button-hover.png) !important; }
input.button:hover { background-image: url(http://assets-0.nuerafitness.com/images/buttons/bg-button-hover.png) !important; }
button.large, a.button.large, input.button.large {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  font-size: 1.1em !important;
  line-height: 1.3em;
  padding:2px 10px 1px 9px;
}
#cart-form button.large {
	display:table-cell;
	vertical-align:middle;
	margin:0;
}
button.small, a.button.small, input.button.small {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 5px 10px;
}
button.small img { margin: 0 3px 0 0 !important; }
a.button.small img { margin: 0 3px 0 0 !important; }
input.button.small img { margin: 0 3px 0 0 !important; }
button.update img { margin-right: 7px; }
button.checkout img { margin-right: 7px; }
a.button.update img { margin-right: 7px; }
a.button.checkout img { margin-right: 7px; }
input.button.update img { margin-right: 7px; }
input.button.checkout img { margin-right: 7px; }
button img { vertical-align: middle; margin-right:4px;}
a.button img { vertical-align: middle; }
input.button img { vertical-align: middle; }
button:focus { outline: none; }
a.button:focus { outline: none; }
input.button:focus { outline: none; }
button::-moz-focus-inner {
  padding: 0px;
  border: none;
}
p a.button img { margin: 0 5px 0 0; }
p button img { margin: 0 5px 0 0; }
.prices { font-weight: bold; color:#fff;}
.prices #product-details .prices { font-size: 1.25em; }
.price.selling { color: #00ff00; font-weight:normal; font-size:16px; }
#product-details .price.selling { font-size: 2em; }
.price.diff {
  font-style: italic;
  font-weight: normal;
  color: #ddd;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
.product-listing {
  list-style: none;
  margin: 0em 0px 0px 0px;
  padding: 0px;
}
.taxon .product-listing li {
  height: 225px;
  width: 123px;
  text-align: center;
  float: left;
  margin: 4px;
  padding: 10px 0 0 0;
  position: relative;
  background: #555;
}
.product-listing li {
  height: 290px;
  width: 217px;
  text-align: center;
  float: left;
  margin: 6px;
  padding: 10px 0 0 0;
  position: relative;
  background:#555;
  border:4px solid #222;
  /*background: #1e1e1e url(http://assets-0.nuerafitness.com/images/product-list-item-bg.png) top left no-repeat;*/
}
.product-listing li a {
  display: block;
  text-decoration: none;
  color: #cccccc;a
}
.product-listing li a.info {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0px 5px;
  width: 207px;
  font-size:13px;
  line-height:16px;
  min-height: 83px;
  background: #1e1e1e;
}
.taxon .product-listing li a.info {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0px 5px;
  width: 113px;
  font-size:12px;
  line-height:16px;
  min-height: 73px;
  background: #1e1e1e;
}
.product-listing li a.info span { display: block; }
.product-listing li:hover { border-color: #424242; }
.product-listing li:hover a.info {
  /*background: #1b1b1b url(http://assets-0.nuerafitness.com/images/bottom_shine.png) bottom left repeat-x;*/
  color: #cccccc;
}
.product-listing li input { position:absolute; bottom:5px; left:56px; height:15px; width:14px; padding:0px;}
.product-listing li select { position:absolute; bottom:5px; left:5px; height:22px; width:85px;}
.product-listing li button {
	position:absolute;
	bottom:5px;
	left:86px;
	background: #777 !important;
	border:none;
	padding:2px 6px 0px 6px;
	color:#fff;
	font-size:11px !important;
}
.product-listing li.variants input {left: 97px;}
.product-listing li.variants button {left: 123px; white-space:nowrap;}

.product-listing li button:hover { background: #aaa !important; color: #222; }
.product-listing li button img { height:20px; margin-top:-1px; }
ul.thumbnails {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.thumbnails li {
  float: left;
  margin-right: 5px;
  padding: 3px;
  border: 1px solid #555;
  min-height: 50px;
  width: 50px;
  position: relative;
}
ul.thumbnails li img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
ul.thumbnails li:hover { border-color: #aaa; }
ul.thumbnails li.selected { border-color: #ccc; }
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
#product-variants { margin-bottom: 1em; }
#product-variants ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color:#ddd;
}
#product-images-and-description {
  display: inline;
  float: left;
  background-color:rgba(0,0,0,0.7);
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  margin-right: 20px;
  -moz-box-shadow: inset 5px 5px 12px 5px #111;
  -webkit-box-shadow: inset 5px 5px 12px 5px #111;
  box-shadow: inset 5px 5px 12px 5px #111;
}
#product-images {
  display: inline;
  float: left;
  width: 270px;
  margin-right: 10px;
  margin-left: 10px;
}
#product-images h4 {
  padding: 6px 0px;
  margin: 0px;
  font-weight: bold;
  clear: both;
}
#product-images #main-image {
  min-height: 250px;
  position: relative;
  margin-bottom: 6px;
}
#product-images #main-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border:1px solid #000;
}
#product-description {
  display: inline;
  float: left;
  width: 680px;
  padding:15px;
}
#product-description p {
  color:#ddd;
}
#product-description ul {
  color:#ddd;
  font-size:150%;
}
#cart-form {
	overflow:hidden;
	background:#333;
	border-radius:10px;
	border:1px solid #555;
  display: inline;
  float: right;
  width: 170px;
  padding:15px;
}
#cart-form input {
	vertical-align:middle;
  font-size: 16px;
  width: 30px;
  margin-top:-1px;
}
#taxon-crumbs {
  display: inline;
  float: left;
  width: 950px;
  margin-right: 0px;
  display: block;
  float: right;
  margin-top: 20px;
  width: 200px;
}
dl.table-display {
  margin: 0;
  padding: 0;
}
dl.table-display dt {
  float: left;
  margin: 0;
  padding: 5px;
  border-top: 1px solid #dddddd;
}
dl.table-display dd {
  float: left;
  margin: 0;
  padding: 5px;
  border-top: 1px solid #dddddd;
}
dl.table-display dt { width: 100px; }
dl.table-display dd { width: 180px; }
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
div#subtotal {
  float: right;
  width: 49%;
  width: auto;
  text-align: left;
}
div#subtotal h3 {
	font-family:arial;
  font-weight:bold;
  font-size:16px;
  color:#eee;
  background:#333;
  padding:8px;
}
table { border-collapse: collapse; }
table th {
  background: transparent;
  border-bottom: 1px solid #dddddd;
}
table#cart tr td {
  border-bottom: 1px solid #dddddd;
  padding: 1em 0;
}
table#cart tr#none td { border-bottom: none; }
table#cart h4 { margin-bottom: 0em; }
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
#signup #new-customer {
	color:#ccc;
  display: inline;
  float: left;
  width: 470px;
  margin-right: 10px;
  background-color:#222;
  background-color:rgba(0,0,0,0.7);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -moz-box-shadow: inset 5px 5px 12px 5px #161616;
  -webkit-box-shadow: inset 5px 5px 12px 5px #161616;
  box-shadow: inset 5px 5px 12px 5px #161616;
  padding:12px;
}
#signup #new-customer h2 { margin-bottom: 0.25em; }
#signup #new-customer p { margin-bottom: 10px; }
#signup #new-customer p input.title {
  padding: 3px;
  margin: 0px;
}
#signup #new-customer input[type=checkbox] { top: 0em; }
#login #account h2,
#login #guest_checkout h2 { color:#ddd; }
#login #account {
  color:#ddd;
  float: left;
  width: 440px;
  height: 260px;
  margin-right: 20px;
}
#login #guest_checkout {
  color:#ddd;
  float: left;
  width: 440px;
  height: 260px;
  padding:12px;
  background-color:#222;
  background-color:rgba(0,0,0,0.7);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -moz-box-shadow: inset 5px 5px 12px 5px #161616;
  -webkit-box-shadow: inset 5px 5px 12px 5px #161616;
  box-shadow: inset 5px 5px 12px 5px #161616;
}
#login #existing-customer {
	color:#ccc;
	padding:12px;
	height: 260px;
	background-color:#222;
	background-color:rgba(0,0,0,0.7);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -moz-box-shadow: inset 5px 5px 12px 5px #161616;
  -webkit-box-shadow: inset 5px 5px 12px 5px #161616;
  box-shadow: inset 5px 5px 12px 5px #161616;
}
#login #existing-customer h2 { }
#login #existing-customer p { margin-bottom: 10px; }
#login #existing-customer p input.title {
  padding: 3px;
  margin: 0px;
}
#login #existing-customer input[type=checkbox] { top: 0em; }
#login #existing-customer label { color:#ccc; }
input.openid_url {
  background: #ffffff url(http://assets-0.nuerafitness.com/images/openid-inputicon.gif) no-repeat scroll 0pt 50%;
  padding-left: 18px;
  border: 1px solid #bbbbbb;
  font-size: 1.5em;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
ol.progress-steps {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2.3em;
  font-size: 15px;
  font-weight:bold;
}
ol.progress-steps li {
  margin: 0;
  font-family:arial;
  letter-spacing:1px;
  text-transform:uppercase;
  width:125px;
  padding: 0;
  list-style: none;
  display: block;
  float: left;
  color: #eee;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(http://assets-0.nuerafitness.com/images/step-progress/incomplete-incomplete.png);
}
ol.progress-steps li span {
  padding: 5px 14px 7px 24px;
  display: block;
  margin:0 auto;
  background-position: top right;
  background-repeat: no-repeat;
}
ol.progress-steps li a {
  text-decoration: none;
  color: #333333;
}
ol.progress-steps li.current-first span { color:#222; padding-left: 14px; }
ol.progress-steps li.completed-first span { padding-left: 14px; }
ol.progress-steps li.current-first { background-image: url(http://assets-0.nuerafitness.com/images/step-progress/current-first.png); }
ol.progress-steps li.completed-first { background-image: url(http://assets-0.nuerafitness.com/images/step-progress/completed-first.png) !important; }
ol.progress-steps li.current { color: #ffffff; }
ol.progress-steps li.current-first { color: #fff; }
ol.progress-steps li.current-last { color: #ffffff; }
ol.progress-steps li.completed { color:#ccc; background-image: url(http://assets-0.nuerafitness.com/images/step-progress/completed-completed.png); }
ol.progress-steps li.current { background-image: url(http://assets-0.nuerafitness.com/images/step-progress/completed-current.png); }
ol.progress-steps li.current-last { background-image: url(http://assets-0.nuerafitness.com/images/step-progress/completed-current.png); }
ol.progress-steps li.next { color:#eee; background-image: url(http://assets-0.nuerafitness.com/images/step-progress/current-incomplete.png); }
ol.progress-steps li.next-last { background-image: url(http://assets-0.nuerafitness.com/images/step-progress/current-right.png); }
ol.progress-steps li.last { background: url(http://assets-0.nuerafitness.com/images/step-progress/incomplete-right.png) top right no-repeat; }
ol.progress-steps li.next-last span { }
ol.progress-steps li.current-last span { background-image: url(http://assets-0.nuerafitness.com/images/step-progress/current-right.png); }
div#checkout { position: relative; }
div#checkout .progress-steps {
  position: absolute;
  top: 0.5em;
  right: 0;
}
div#checkout form {
  background-position: top right;
  background-repeat: no-repeat;
}
div#checkout #checkout_form_address { background-image: url("../images/steps/2.png"); }
div#checkout #checkout_form_delivery { background-image: url("../images/steps/3.png"); }
div#checkout #checkout_form_address #billing label {
  width: 190px;
  float: left;
  padding-right: 10px;
  text-align: right;
}
div#checkout #checkout_form_address #shipping label {
  width: 190px;
  float: left;
  padding-right: 10px;
  text-align: right;
}
div#checkout #checkout_form_address #billing input { width: 304px; }
div#checkout #checkout_form_address #shipping input { width: 304px; }
div#checkout #checkout_form_address #billing select { width: 304px; }
div#checkout #checkout_form_address #shipping select { width: 304px; }
div#checkout #checkout_form_address #billing p.checkbox { padding-left: 200px; }
div#checkout #checkout_form_address #shipping p.checkbox { padding-left: 200px; }
div#checkout #checkout_form_address .form-buttons { padding-left: 200px; }
div#checkout #checkout_form_address #billing p.checkbox label {
  width: auto !important;
  float: none !important;
}
div#checkout #checkout_form_address #shipping p.checkbox label {
  width: auto !important;
  float: none !important;
}
div#checkout #checkout_form_address #billing p.checkbox input { width: auto !important; }
div#checkout #checkout_form_address #shipping p.checkbox input { width: auto !important; }
div#checkout #checkout_form_payment { background-image: url("../images/steps/5.png"); }
div#checkout #checkout_form_payment select { width: 75px; }
div#checkout #checkout_form_payment #payment {
  display: inline;
  float: left;
  width: 310px;
  margin-right: 10px;
}
div#checkout #checkout_form_payment #order_details {
  display: inline;
  float: left;
  width: 470px;
  margin-right: 10px;
}
div#checkout #payment-methods {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  width: 720px;
}
div#checkout #payment-methods li {
  display: block;
  display: inline;
  float: left;
  width: 190px;
  margin-right: 10px;
}
div#checkout #payment-methods li.last {
  display: inline;
  float: left;
  width: 190px;
}
div#checkout #checkout-summary {
  background-color: #222;
  color:#ccc;
  float: right;
  margin-top: 10px;
  padding: 20px;
  width: 180px;
}
div#checkout #checkout-summary {
  background-color: #222;
  float: right;
  margin-top: 10px;
  padding: 20px;
  width: 180px;
}

