<style>
#order-overview span {
  width: 33.33%;
}
#billing-details, #shipping-details { width:25%; }
#billing-details, #shipping-details { float:left; }
#order-overview table td { border-bottom: 0; }
.order-overview-cell { background-color: #1268D0; color:#FFF;}
.order-overview-cell a { color: #FFF !important; }
#order-overview h3 { text-align: center; background-color: #10B0E6; border-bottom: 3px solid #0000FF; }
#order-details { float:right; }
</style>
<div id="order-overview">
  <span id="billing-details">
    <%= render 'billing_overview' %>
  </span>
  <span id="shipping-details">
    <%= render 'shipping_overview' %>
  </span>
  <span id="order-details">
    <%= render 'line_items_overview' %>
  </span>
</div>
