<div id="footer">
  <div class="col1">
  	<ul>
  	  <li><a href="">About Us</li>
  	  <li><a href="">Product Reviews</li>
  	  <li><a href="">Return Policies</li>
  	  <li><a href="">Product Policies</li>
  	  <li><a href="">GSA Contract Info</li>
  	  <li><a href="">Contact Us</li>
  	  <li><a href="">Gift Certificates</li>
  	  <li><a href="">Gear Registry</li>
  	</ul>
  </div>
  <div class="col2">
  	<ul>
  	  <li></li>
  	</ul>
  </div>
  <div class="col3">
  	<ul>
  	  <li></li>
  	</ul>
  </div>
  <div class="col4">
  	<%= form_tag '', :method => :post do %>
  		<%= submit_tag '', :name => nil, :class => 'search-submit' %>
  		<%= text_field_tag :email, params[:email] %>
		<% end %>
  </div>
</div>   
<%= render 'shared/google_analytics' %>
