<ul class="nav-bar">
<li><%= render 'shared/search' %></li>
</ul>
<ul class="nav-bar">
<% if store_menu? %>
  <%= render 'shared/store_menu' %>
<% end %>
</ul>
<!--
<ul class="nav-bar-2">
<%= render 'shared/login_bar' %>
<li>|</li>
<li><%= link_to_cart %></li>
</ul>
-->
</ul>
