<ul id="social-and-search">
  <li><%= link_to_facebook %></li>
  <li><%= link_to_twitter %></li>
  <% #<li><a href="" target="_blank"><img class="hover" togglesrc="/images/flickr-over.png" src="/images/flickr-over.png" border="0" /></a></li> %>
  <li><%= render 'shared/search' %></li>
</ul>
