<div class="content">
  <h1>About Us</h1>
  <div class="three-col">
    <div class="col double">
      <p>The sweat drips off my brow, and my lungs are working hard...expanding,
					contracting, expanding, contracting. My body is beat, but my muscles crave
					more. My mind is tired, but my focus is unwavering. I have more to give...I always
					have more to give. I am the same person as you...I am a student, teacher, parent,
					and professional. I am an athlete in a <b>Nu Era</b> of fitness.</p>
      <p>Like you, we are continuously striving to be better. We take our customers and
					products seriously, and we are committed to helping you accomplish your fitness
					goals...whatever they may be.</p>
			<h3>Objectives</h3>
      <p>We strive to accomplish two main objectives:</p>
			<ul>
				<li>Share the best products at the best price</li>
				<li>Deliver unbeatable customer service</li>
			</ul>
			<h3>Our Mission</h3>
			<p>Our mission is simple:</p>
			<div style="font-style:italic;font-size:14px;padding:0px 25px;">
				"Provide high quality best value strength and conditioning fitness equipment,
				while delivering professional, personal and candid customer service."</div><br />
      <p>This is our mission and our mantra. We set high expectations, and we don't mess
				around. You want quality equipment and you deserve quality service, and that is why
				we entered the industry. We have an open door policy here at <b>Nu Era Fitness</b>, so if
				you have any questions whatsoever, please do not hesitate to contact us (Hyperlink to
				Contact Us page).</p>
			<p>Welcome to the <b>Nu Era</b> of fitness!</p>
    </div>
    <div class="col last">
      <h2>Proud Sponsor of:</h2>
      <a href="http://www.cancer.org/" target="_blank"><img src="/images/american_cancer_society.jpg" border="0" style="padding:6px 0;"></a>
      <a href="http://memorialdaymurph.homestead.com/index.html" target="_blank"><img src="/images/memorial_day_murph.jpg" border="0" style="padding:6px 0;"/></a>
      <a href="https://www.capalio.com/AG2011-Event.php" target="_blank"><img src="/images/afghan-games.jpg" border="0" style="padding:6px 0;"/></a>
    </div>
  </div>
</div>



