<div class="content">
  <h1>Contact Us</h1>
  <div class="three-col">
    <div class="col triple">
      <p>At <strong>Nu Era Fitness</strong>, customers are our #1 priority. Please do not hesitate to contact us with any questions, feedback, or order inquiries you may have. We want to make your shopping experience as simple as possible to get you the equipment you need to fulfill your fitness goals!</p>
			<h2>Call Us</h2>
			<p>If you would like to speak with a customer representative, please call us toll free at: <strong>1-888-469-3445</strong>
			<h2>Hours</h2>
			<p>We are available 7 days a week, 8am - 5pm (Pacific).</p>
			<h2>Custom Quotes & Shipping</h2>
			<p>To receive a custom quote on large product orders and freight shipping, you can also send a fax to: <strong>1-888-469-3445</strong></p>
			<h2>All Other Requests</h2>
			<p>For all other Requests, Questions, and Inquiries please email: <a href="maltio:questions@nuerafitness.com">questions@nuerafitness.com</a></p>
		</div>
	</div>
</div>