<div class="content">
  <h1>Gyms</h1>
  <div style="padding:5px 0 15px 15px;font-size:20px;font-style:italic;">"The only time I was beaten...I wasn't there"</div>
  <div class="three-col">
    <div class="col double">
      <h2>Affiliates</h2>
        <p>It's not enough to have awesome equipment if you don't have a place to train! <b>Nu Era Fitness</b> has two gyms, one in <a href="http://crossfithuntley.com" target="_blank">Huntley</a>, Illinois and the other in <a href="http://northhavencrossfit.com/" target="_blank" />North Haven</a>,
Connecticut. We invested a lot of time, effort, and energy into creating these
masterpieces! <b>Nu Era Fitness</b> gyms are a reflection of our mentality which revolves
around hard work, education, dedication and service.</p>
        <p>These <b>Nu Era Fitness</b> affiliates are forging elite fitness, and their customers are
raving about the quality coaching, equipment, and facilities. Because of the high caliber
trainers and combined CrossFit experience, it's likely you will be seeing a lot more of
these gyms! If you're in the area, we encourage you to drop in and crush a WOD!</p>
        <table width="100%">
	      <tr>
		    <td align="center"><a href="http://crossfithuntley.com" target="_blank"><img src="/images/huntley-logo-crest.png" style="display:block;margin:0 auto;" border="0"/></a></td>
		    <td align="center"><a href="http://northhavencrossfit.com" target="_blank"><img src="/images/north-haven-logo-crest.png" style="display:block;margin:0 auto;" border="0"/></a></td>
	      </tr>
        </table>
      </div>
      <div class="col last">
        <h2>CrossFit South Bay</h2>
        <p>We would like to personally recognize <a href="http://www.crossfitsouthbay.com/" target="_blank">CrossFit South Bay</a>! This is a phenomenal box
run by extraordinary trainers, and they are a stronghold in the CrossFit community.
<a href="http://www.crossfitsouthbay.com/" target="_blank"><img src="/images/crossfit-southbay.png" style="padding:10px 0;" border="0"/></a><br />Located in Hermosa Beach, CA, they see upwards of 200 members each month and
rank competitively in all CrossFit competitions.</p>
      </div>
    <div class="clear"></div>
  </div>
</div>
