<img style="display:block; margin:13px auto 25px auto;" src="/images/rotator-placeholder.png" />
<% #<div id="store-menu">
	#<div id="store-menu-items">
		#<a class="store-menu-item" id="store-menu-category" href="" ></a>
		#<a class="store-menu-item" id="store-menu-brands" href="" ></a>
		#<a class="store-menu-item" id="store-menu-packages" href="" ></a>
		#<a class="store-menu-item" id="store-menu-apparel" href="" ></a>
		#<a class="store-menu-item" id="store-menu-clearance" href="" ></a>
	#</div>
#</div> %>