<div class="content">
  <h1>Nutrition</h1>
  <div style="padding:5px 0 15px 15px;font-size:20px;font-style:italic;">"My body is a temple..and it is good to me when I am good to it."</div>
  <div class="three-col">
    <div class="col double">
      <p>Training hard is only half the equation. You are not maximizing your physical output if you are not consuming the right fuel. You wouldn't put unleaded fuel in a Ferrari, so why treat your body any different? Consider your body a Ferrari. You have the built-in potential to achieve unimaginable physical output...the secret lies in the fuel.</p>
      <h2>The Paleo Diet</h2>
      <p>It is important to understand nutrition and what is good for your body. <b>Nu Era Fitness</b> strongly supports the Paleolithic diet (or Paleo diet), and we feel this is a proven, challenging, and rewarding nutrition methodology applicable to all individuals. Therefore, you can expect to see articles and content referencing Paleo directly.</p>
      <p>For simplicity, the Paleolithic diet refers to the nutritional plan based on the presumed ancient diet of wild plants and animals that various human species habitually consumed during the Paleolithic era, a period of about 2.5 million years duration that ended around 10,000 years ago with the development of agriculture. Contemporary Paleolithic diet consists mainly of meat, fish, vegetables, fruit, roots, and nuts.</p>
      <h2>Supplements</h2>
      <p>While we encourage a Paleolithic regimen, we also understand and appreciate the different training goals of individuals. As a result, we strategically partnered with <b>Nutrabolics</b>, a nutrition supplement company dedicated to offering individuals every opportunity to achieve physical and nutritional success. We specifically included products in our supplement line that provide obvious benefits when combined with physical training. Products such as amino acid packs, vitamin packs, glutamine packs, and various whey protein complexes...all the good stuff to keep your body firing on all cylinders!</p>
      <p>Additionally, we teamed up with our friends at <b>Helix</b>, a growing powerhouse with a proven drink formula you will love. Helix approached us understanding the unique nature of the different markets we cater to, and they presented an "energy drink" with zero sugar, zero carbonation, and packaged in convenient single serving "sticks" you can carry around anywhere. We didn't believe them at first, but we quickly recognized Helix created a tried, true and revolutionary product!</p>
    </div>
    <div class="col last">
      <h2>Proud Sponsor of:</h2>
      <a href="https://www.capalio.com/AG2011-Event.php" target="_blank"><img src="/images/afghan-games.jpg" border="0" style="padding:6px 0;"/></a>
    </div>
    <!--<div class="col triple">
    	<h2>Nutrabolics</h2>
    </div>-->
    <div class="col triple">
    	<h2><a href="/products/paleo-pack-grass-fed-beef-w-slash-dried-cranberries-2-dot-8oz">Paleo Pack</a></h2>
			<p><a href="/products/paleo-pack-grass-fed-beef-w-slash-dried-cranberries-2-dot-8oz"><%= image_tag "/images/paleo-packs.jpg", :alt => "The Paleo Pack", :width => "350", :style => "float:left;padding-right:20px;" %></a>Introducing <b>The Paleo Pack!</b> These perfect "on the go" meal packs are a unique and savory blend of premium grass fed beef jerky, raw nuts, and dried cranberries. All of our ingredients come fresh from local sources in South Carolina. The perfect balance of protein, carbohydrates, and good fat. They are gluten free and are perfect for the active lifestyle. They are vacuum sealed for maximum freshness and convenient while hiking, camping, fishing, on the road, after a workout, and for athletes looking to achieve peak performance.</p>
			<p>The term "Paleo" is short for the word Paleolithic which is a period of time also referred to as the "Stone Age". The Paleo Diet is a way of eating that mimics the diets of our hunter-gatherer ancestors. It consists of combinations of lean meats, seafood, vegetables, fruits, and nuts. This concept presents a fully integrated, holistic, dietary theory combining the best features of all other dietary theories, eliminating the worst features and simplifying it all. Followers of this diet are naturally lean, typically enjoy optimum health, improved athletic performance, and often experience relief from a number of metabolic-related autoimmune diseases. The Paleo Diet encourages those who follow it to replace dairy and grains products with fresh fruits and vegetables. It excludes sugar and the processed foods so readily available at the grocery store today.</p>
			<p><b>The Happy Apple, LLC</b> is the parent organization for <b>The New Primal Paleo Packs</b>. They are a family owned and operated company located on Daniel Island South Carolina. The Happy Apple is dedicated to helping people fulfill their health and wellness needs.</p>
    </div>
    <!--<div class="col triple">
    	<h2>Helix</h2>
      <p></p>
    </div>-->
  </div>
</div>
