<div class="content">
  <h1>Nutrition</h1>
  <div style="padding:5px 0 15px 15px;font-size:20px;font-style:italic;">"My body is a temple..and it is good to me when I am good to it."</div>
  <div class="three-col">
    <div class="col double">
      <p>Training hard is only half the equation.  You are not maximizing your physical output if you are not consuming the right fuel.  You wouldn't put unleaded fuel in a Ferrari, so why treat your body any different?  Consider your body a Ferrari…You have the built-in potential to achieve unimaginable physical output...the secret lies in the fuel.</p>
      <h3>The Paleo Diet</h3>
      <p>It is important to understand nutrition and what is good for your body. NU ERA FITNESS strongly supports the Paleolithic diet (or Paleo diet), and we feel this is a proven, challenging, and rewarding nutrition methodology applicable to all individuals.  Therefore, you can expect to see articles and content referencing Paleo directly.</p>
      <p>For simplicity, the Paleolithic diet refers to the nutritional plan based on the presumed ancient diet of wild plants and animals that various human species habitually consumed during the Paleolithic era, a period of about 2.5 million years duration that ended around 10,000 years ago with the development of agriculture.  Contemporary Paleolithic diet consists mainly of meat, fish, vegetables, fruit, roots, and nuts.</p>
      <h3>Supplements</h3>
      <p>However, we also understand and appreciate the different training goals of individuals.  As a result, we strategically partnered with Nutrabolics, a nutrition supplement company dedicated to offering individuals every opportunity to achieve physical and nutritional success.  We specifically included products in our supplement line that provide obvious benefits when combined with physical training.  Products such as amino acid packs, vitamin packs, glutamine packs, and various whey protein complexes...all the good stuff to keep your body firing on all cylinders!</p>
      <p>Additionally, we teamed up with our friends at Helix, a growing powerhouse with a proven drink formula you will love.  Helix approached us understanding the unique nature of the different markets we cater to, and they presented an "energy drink" with zero sugar, zero carbonation, and packaged in convenient single serving "sticks" you can carry around anywhere.  We didn't believe them at first, but we quickly recognized Helix created a tried, true and revolutionary product!</p>
    </div>
    <div class="col last">
      <h2>Proud Sponsor of:</h2>
      <a href="http://www.cancer.org/" target="_blank"><img src="/images/acs.png" border="0" style="padding:6px 0;"></a>
      <a href="http://memorialdaymurph.homestead.com/index.html" target="_blank"><img src="/images/mdm.png" border="0" style="padding:6px 0;"/></a>
      <a href="https://www.capalio.com/AG2011-Event.php" target="_blank"><img src="/images/afghan-games.png" border="0" style="padding:6px 0;"/></a>
    </div>
  </div>
</div>