<div class="content">
  <h1>Terms & Conditions, Policies, Disclaimers</h1>
  <div class="three-col">
    <div class="col triple">
    	<h2>Nu Era Fitness Company Terms & Conditions</h2>
    	<p>This page is information about our order fulfillment process and policies. If you have any additional questions please contact us at nuera@nuerafitness.com or call 888-469-3445.</p>
    </div>
    <div class="col triple">
    	<h2>Shipping Policies</h2>
    	<p>Shipping costs are based on actual UPS rates. For high weight orders, please refer to the Freight Shipping section below.
		  <h4>UPS Shipping Methods</h4>
		  <p>UPS Ground is utilized to provide fast and cost-effective shipping to customers.</p>
			<h4>R&L Carriers Freight Shipping</h4>
			<p>Freight shipping can be used if orders are unusually large. If you think your order will be shipping via freight please contact us at questions@nuerafitness.com for rates and delivery dates.</p>
    </div>
    <div class="col triple">
    	<h2>Payment Information</h2>
    	<p>If you are paying with a debit card or credit card we accept American Express, Discover, Mastercard, and Visa. All credit card transactions will be processed through Authorize.net, a payment gateway services in partnership with NuEra Fitness and Wells Fargo Bank.
			   All credit card information is deleted after 30 days as a security precaution.
			</p>
    </div>
    <div class="col triple">
    	<h2>Privacy Policy</h2>
    	<p>NuEra Fitness is fully integrated with the Authorize.Net payment gateway, and is a premier Authorize.Net-Certified shopping cart. NuEra Fitness uses the Authorize.Net Advanced Integration Method (AIM) and has full compatibility with Authorize.Net's security toolset.</p>
    </div>
    <div class="col triple">
    	<h2>Credit Card Processing</h2>
    	<p>The NuEra Fitness shopping cart and Authorize.Net work together to help ensure online transactions are completed safely and securely. With Authorize.Net, you can be confident your data is secure with industry-leading technologies and protocols, such as 128-bit Secure Sockets Layer (SSL) and compliance with a number of government and industry security initiatives. NuEra Fitness also requires the CVV2 number for each credit card, which is a 3- or 4-digit number that is printed on the back of Visa, MasterCard and Discover cards, usually in the signature box (it is on the front of American Express cards). Requesting or requiring this number from customers helps to validate that the customer has the actual card and that the card number is legitimate.</p>
    	<p>If you have any further questions about our security please feel free to contact us at questions@nuerafitness.com.</p>
  	</div>
  	<div class="col triple">
    	<h2>Order Acceptance and Fulfillment</h2>
    	<p>Small orders will be shipped within 24-48 hours after the order is placed. Larger orders that require freight shipping take 24-72 hours depending on packaging requirements and freight broker coordination. Shipping times range from 3 to 7 days for the continental U.S. After you place an order with us, an invoice for your order will appear onscreen and will also be emailed to you. A second email containing tracking information will be sent after your order is shipped. Please print the onscreen page and save the email for your records. If the billing address on your order does not match the billing address on the credit card the order will not ship. NuEra Fitness uses a national AVS matching system that verifies every credit card billing address that is used on the site. If the incorrect billing address is provided we will email you and ask you to provide the correct billing address; if that information is not provided within two weeks the order will be cancelled.</p>
			<p>We reserve the right to cancel any order for any reason. If a fraudulent credit card is used on our site we will notify the cardholder's bank and contact the cardholder immediately.</p>
    </div>
    <div class="col triple">
    	<h2>Return Policies</h2>
    	<h4>Incorrect/Damaged Item Received</h4>
    	<p>If you received the wrong item in your order or if your order was damaged during shipment, please contact us immediately so we can ship the proper items to you and give you instructions on returning any damaged products or incorrect orders. If your item was damaged during shipment it is your responsibility to file a claim with UPS or freight shipping company. A formal claim ensures the correct party is held responsible for the state of the product when it arrives at your location. We do not accept damage claims that have not first been filed with the shipping company.</p>
			<h4>Damaged/Defective Products</h4>
			<p>All products are warranted free of manufacturer defects for 60 days from invoice date. No other warranty, written or implied exists unless noted on the website. Please contact us immediately if you encounter any product issues.</p>
			<h4>Unsatisfied with Product</h4>
			<p>If for any reason you find our product unsatisfactory, you may return the product within 30 days of receipt for a credit towards another purchase. All returns require a Return Merchandise Authorization number. Any shipping charges that were incurred on the order are non-refundable. Please contact us for a RMA # before items are returned. There is a 15% restocking fee for all returns.</p>
			<h4>Return Shipping Costs</h4>
			<p>With the exception of shipping errors and damaged or defective products, all shipping costs back to NuEra Fitness are the responsibility of the customer. Credits are not issued for shipping charges.</p>
    </div>
    <div class="col triple">
    	<h2>Legal Disclaimer</h2>
    	<p>NuEra Fitness shall not be liable for any special or consequential damages that result from the use of (or the inability to use) the materials on this website or the performance of the products, even if NuEra Fitness has been advised of the possibility of such damages. NuEra Fitness shall not be held liable for any injury to person, thing, or otherwise as a result of any products or materials offered on this website. This website and the materials and products on this site are provided "as is" and without warranties of any kind, whether express or implied. Nu Era Fitness does not make any warrantees or representations regarding the use of the materials on this website in terms of their correctness, accuracy, reliability or otherwise. NuEra Fitness is not responsible for the content presented by outside agencies. In an effort to offer best value practice to the customer, NuEra presents accessibility to outside agencies via links, contact info, or otherwise, however, NuEra Fitness cannot and will not be held liable for guarantees, warranties, policies, product, or material content presented by these outside agencies. If NuEra Fitness mistakenly lists a product at an incorrect price, NuEra Fitness reserves the right to refuse or cancel any orders placed for products listed at the incorrect price. If your credit card has already been charged for the purchase and your order is cancelled, NuEra Fitness shall issue a credit to your credit card account in the amount of the incorrect price. NuEra Fitness reserves the right to block or remove communications or materials that it determines to be abusive, fraudulent, in violation of a copyright, trademark or other intellectual property right, or offensive or otherwise unacceptable to NuEra Fitness in its sole discretion. You agree to indemnify, defend, and hold harmless NuEra Fitness, its officers, directors, employees, agents, licensors, and suppliers from and against all losses, expenses, damages and costs, including reasonable attorneys' fees, resulting from any violation of these terms and conditions or any activity related to your account, including negligent or wrongful conduct, by you or any other person accessing the site using your Internet account.</p>
  	</div>
  </div>
</div>




















