<div class="content">
  <h1>Training</h1>
  <div style="padding:5px 0 15px 15px;font-size:20px;font-style:italic;">"Train like there's no finish line..."</div>
  <div class="three-col">
    <div class="col double">
      <p>We come from different backgrounds...different body types, different strengths, different weaknesses, different training goals. At <b>Nu Era Fitness</b>, we understand that some individuals are training to reach the next level in their athletic careers, and others are training to maintain an overall healthy lifestyle. Some of us are older, some younger, some with extensive fitness backgrounds, and some just looking to get started. Regardless, we have teamed up with the best fitness experts in the industry to cater to your individual training goals.</p>
      <p>We have the capability, expertise, and experience to equip you with the knowledge you need to succeed.  Need help with Olympic lifts? Send in a video and we'll coach you up! Want a championship training program for your team? Tell us your goals and we'll help you get there! Whatever the objective, we will tap into our resources to get you the equipment and information you need! <b>Nu Era Fitness</b> is responsible for helping multiple military units, teams, gyms, corporations, civil service departments, and individuals accomplish their goals. So what are you waiting for?!</p>
      <p>It's a <b>Nu Era</b> of fitness! Start training today!</p>
    </div>
    <div class="col last">
      <h2>Our Allies</h2>
      <ul>
        <li><a href="http://www.crossfitsouthbay.com" target="_blank">CrossFit South Bay</a></li>
        <li><a href="http://www.zoneready.net/" target="_blank">ZoneReady</a></li>
        <li><a href="http://www.facebook.com/DarrenKeolaFitness" target="_blank">Darren Keola Fitness</a></li>
      </ul>
    </div>
  </div>
</div>
